<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="../static/css/main.css" rel="stylesheet">
        <script src="../static/js/main.js"></script>
    </head>

    <body>
        <center>
            <nav>
                <ul class="navbar">
                    <li><a style="color:#2ec4b6;" href="3">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">projects</a></li>
                    <li><a href="#">about</a></li>
                </ul>
            </nav>
        </center>
        <div>
            
        </div>
    </body>
</html>