<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="../static/css/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/skeleton.css">
        <script src="../static/js/main.js"></script>
        <script defer src="../static/fontawesome/js/all.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="four columns" style="margin-top: 2rem; padding-left: 6rem">
                    <a href="/" style="text-decoration: none; color:inherit;">
                      <div class="logo">
                        <div class="icon">
                          <i class="fa-solid fa-angles-up" style="color:#D63A3E; margin: 0.5rem; width:3rem; height: 3rem; float: left;"></i>
                        </div>
                        <div class="text">
                          <h1 style="color: #ebebeb; font-size: 3rem;">noelkleen.com</h1>
                        </div>
                      </div>
                    </a>
                </div>
                <div class="eight columns" style="color:#666666; margin-top: 1.5rem; padding: 1rem;">
                    <a href="" style="text-decoration: none; color:inherit;"><i class="fa-solid fa-folder-tree navbar-icon"></i></a>
                    <a href="" style="text-decoration: none; color:inherit;"><i class="fa-solid fa-wallet navbar-icon"></i></a>
                    <a href="" style="text-decoration: none; color:inherit;"><i class="fa-solid fa-info navbar-icon"></i></a>
                    <a href="" style="text-decoration: none; color:inherit;"><i class="fa-solid fa-user navbar-icon"></i></a>
                </div>
            </div>
        </div>

        <div class="container" style="height: 100%;">hasdasds<i class="fa-solid fa-user"></i><i class="fa-brands fa-adn"></i>{% block content %}{% endblock %}</div>
        <footer>
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="six columns">
                            <i class="fa-solid fa-code footer-icon-left"></i>
                            <i class="fa-brands fa-discord footer-icon-left"></i>
                        </div>
                        <div class="six columns">
                            <i class="fa-solid fa-code-branch footer-icon-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
