<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <link href="../static/css/main.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/skeleton.css">
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <!--<div class="navbar">
            {% if acti == "home" %}
                <li id="active"><a href="/home">home</a></li>
                <li><a href="/about">about</a></li>
                <li class="dropdown">
                    <a href="/projects">projects</a>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="/projects/rsa">rsa</a>
                            <a href="/projects/user-api">user-api</a>
                        </div>
                    </div>
                </li>
            {% elif acti == "about" %}
                <li><a href="/home">home</a></li>
                <li id="active"><a href="/about">about</a></li>
                <li class="dropdown">
                    <a href="/projects">projects</a>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="/projects/rsa">rsa</a>
                            <a href="/projects/user-api">user-api</a>
                        </div>
                    </div>
                </li>
            {% elif acti == "projects" %}
                <li><a href="/home">home</a></li>
                <li><a href="/about">about</a></li>
                <li id="active" class="dropdown">
                    <a href="/projects">projects</a>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="/projects/rsa">rsa</a>
                            <a href="/projects/user-api">user-api</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li><a href="/home">home</a></li>
                <li><a href="/about">about</a></li>
                <li class="dropdown">
                    <a href="/projects">projects</a>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <a href="/projects/rsa">rsa</a>
                            <a href="/projects/user-api">user-api</a>
                        </div>
                    </div>
                </li>
            {% endif %}
            
        </div>-->
        
        <div class="container">
            <div class="row">
                <div class="three columns" style="color:#D63A3E;margin: 1rem; padding: 1rem;">
                    <svg style="margin: 0.5rem; width: 3rem; height: 3rem; float: left;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angles-up" class="svg-inline--fa fa-angles-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M54.63 246.6L192 109.3l137.4 137.4C335.6 252.9 343.8 256 352 256s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25l-160-160c-12.5-12.5-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25S42.13 259.1 54.63 246.6zM214.6 233.4c-12.5-12.5-32.75-12.5-45.25 0l-160 160c-12.5 12.5-12.5 32.75 0 45.25s32.75 12.5 45.25 0L192 301.3l137.4 137.4C335.6 444.9 343.8 448 352 448s16.38-3.125 22.62-9.375c12.5-12.5 12.5-32.75 0-45.25L214.6 233.4z"></path></svg><h1 style="font-size: 3rem;">noelkleen.com</h1>
                </div>
                <div class="nine columns">
                    <svg style="width: 3rem; height: 3rem;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="address-book" class="svg-inline--fa fa-address-book" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M384 0H96C60.65 0 32 28.65 32 64v384c0 35.35 28.65 64 64 64h288c35.35 0 64-28.65 64-64V64C448 28.65 419.3 0 384 0zM240 128c35.35 0 64 28.65 64 64s-28.65 64-64 64c-35.34 0-64-28.65-64-64S204.7 128 240 128zM336 384h-192C135.2 384 128 376.8 128 368C128 323.8 163.8 288 208 288h64c44.18 0 80 35.82 80 80C352 376.8 344.8 384 336 384zM496 64H480v96h16C504.8 160 512 152.8 512 144v-64C512 71.16 504.8 64 496 64zM496 192H480v96h16C504.8 288 512 280.8 512 272v-64C512 199.2 504.8 192 496 192zM496 320H480v96h16c8.836 0 16-7.164 16-16v-64C512 327.2 504.8 320 496 320z"></path></svg>
                </div>
            </div>
        </div>

        <div class="container">{% block content %}{% endblock %}</div>
        <footer>

        </footer>
    </body>
</html>
