{% extends "layout.html" %}
{% block title %}rsa{% endblock %}
{% block content %}
<div>
    <center><h1>RSA</h1></center>
    <div class="variables">
        <center>
        <div style="width: fit-content;">
            <h2>Variables</h2>
        </div>
        <div class="code">
            p<p>{{ p }}</p>
            q<p>{{ q }}</p>
            n<p>{{ n }}</p>
            F<p>{{ F }}</p>
            e<p>{{ e }}</p>
            d<p>{{ d }}</p>
        </div>
        </center>
    </div>
    <div class="encryption">
        <h2>encrypt</h2>
        <form method="POST">
            <input class="crypto-input" name="message" type="text" placeholder="message">
            <input class="crypto-button" type="submit" value=">">
            <p>n : <input class="var-input" name="n_encrypt" type="text" placeholder="n"></p>
            <p>e : <input class="var-input" name="e_encrypt" type="text" placeholder="e"></p>
        </form>
        {% if cipher%}
            <h3 style="padding-top: 25px;">Cipher</h3>
            <div class="code">
                <p>{{ cipher }}</p>
            </div>
            <h2 style="padding-top: 25px;">Used variables</h2>
            <h3 style="padding-top: 25px;">n</h3>
            <div class="code">
                <p>{{ n_encrypt }}</p>
            </div>
            <h3 style="padding-top: 25px;">e</h3>
            <div class="code">
                <p>{{ e_encrypt }}</p>
            </div>
        {% endif %}
    </div>
    <div class="decryption">
        <h2>decrypt</h2>
        <form method="POST">
            <input class="crypto-input" name="input_cipher" type="text" placeholder="cipher">
            <input class="crypto-button" type="submit" value=">">
            <p>n : <input class="var-input" name="n_decrypt" type="text" placeholder="n"></p>
            <p>d : <input class="var-input" name="d_decrypt" type="text" placeholder="d"></p>
        </form>
        {% if output_message %}
            <h3 style="padding-top: 25px;">Decrypted message</h3>
            <div class="code">
                <p>{{ output_message }}</p>
            </div>
            <h2 style="padding-top: 25px;">Used variables</h2>
            <h3 style="padding-top: 25px;">n</h3>
            <div class="code">
                <p>{{ n_decrypt }}</p>
            </div>
            <h3 style="padding-top: 25px;">d</h3>
            <div class="code">
                <p>{{ d_decrypt }}</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}